---
name: Deploy

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  release:
    types:
      - published

permissions:
  actions: read
  contents: read
  packages: write
  security-events: write

jobs:
  ci:
    uses: hassio-addons/workflows/.github/workflows/base-ci.yaml@3d5603e6f0966551a0c99493171cc2808349b28e # v2.0.4

  deploy:
    needs: ci
    uses: hassio-addons/workflows/.github/workflows/base-deploy.yaml@3d5603e6f0966551a0c99493171cc2808349b28e # v2.0.4
